# Git
.git
.gitignore
.github

# Node.js
node_modules
npm-debug.log
dist

# Environment variables
.env
.env.*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log

# Docker
Dockerfile
.dockerignore

# Documentation
README.md
PROMPTS.md
adsbot.md 